.zui.input
{
	position: relative;
}

.zui.input input
{
	width: calc(100% - 12px);
	height: 24px;
	color: rgba(255,255,255,0.7);
	background-color: #333333;
	top:calc(50% - 13px);
	border: solid 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
}

.zui.input input:hover
{
	border-color: rgba(255,255,255,0.3);
}

.zui.input input:focus
{
	outline: none;
	border:solid 1px #FF6600;
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,1);
}